# Metrics To Evaluate Machine Learing Algorithms in Python

The Metrics that you choose to evaluate the machine learning algorithms are very important.
Choose of metrics influences how the performance of machine learning algorithm are measured and compared. They influence how you weight the importance of different characteristics in the results and your ultimate choice of which algorithm to choose

# Classification Metrics
Classification problems are perhaps the most common type of machine learning problem and such there are a myriad of metrics that can be used to evaluate predictions for these problems.

in this section we will review how to use the the following metrics:
* classification accuracy
* Logarithmic Loss 
* Area Under ROC Curve
* Confusion Matrix
* Classification Report.

# 1.Classification accuracy
classification accuracy is the number of correct predictions made as a ratio of all predictions made.

This is the most common evaluation metric for classification problems, it is also the most misused. It is really only suit equal number of observation in each class(which is really the case) and that all predictions and prediction errors are is often not the case.

Below is an example of calculating classification accuracy.

In [ ]:
# Corss Validation Classification Accuracy
import pandas as pd
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(url, names=names)

In [ ]:
df.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [ ]:
df.shape

(768, 9)

In [ ]:
df.iloc[:,0:8]

     preg  plas  pres  skin  test  mass   pedi  age
0       6   148    72    35     0  33.6  0.627   50
1       1    85    66    29     0  26.6  0.351   31
2       8   183    64     0     0  23.3  0.672   32
3       1    89    66    23    94  28.1  0.167   21
4       0   137    40    35   168  43.1  2.288   33
..    ...   ...   ...   ...   ...   ...    ...  ...
763    10   101    76    48   180  32.9  0.171   63
764     2   122    70    27     0  36.8  0.340   27
765     5   121    72    23   112  26.2  0.245   30
766     1   126    60     0     0  30.1  0.349   47
767     1    93    70    31     0  30.4  0.315   23

[768 rows x 8 columns]

In [ ]:
df.iloc[:,8]

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: class, Length: 768, dtype: int64

In [ ]:
array = df.values

In [ ]:
x  = array[:,0:8]
y = array[:,8]

In [ ]:
x.shape

(768, 8)

In [ ]:
y.shape

(768,)

In [ ]:
seed = 7
kfold = model_selection.KFold(n_splits=10) #  n_split means data ko 10 sample ma divide kar dana

In [ ]:
model = LogisticRegression(max_iter=500)
scoring = "accuracy"
results = model_selection.cross_val_score(model, x, y, cv=kfold, scoring=scoring)
print(results.mean(),results.std())

0.7760423786739576 0.051575452620868226

# 2.Logarithmic Loss
Logarithmic Metric class in a performance metric for evaluating the prediction of probabilities of membership to a given class.

The scalar probability between 0 and 1 can be seen as a measure of confidence for a prediction by an algorithm. Predictions that are correct or incorrect are rewarded are punished prportionally to the confidence of the prediction.

You can learn more about algorithmic on the loss function for classification Wikipedia article.

**Below is an example** of calculating log loss for Logistic regression predictions on the pima Indians onset of diabetes dataset.

In [ ]:
# Corss Validation Classification Accuracy
import pandas as pd
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(url, names=names)
array = df.values
x  = array[:,0:8]
y = array[:,8]
kfold = model_selection.KFold(n_splits=10) #  n_split means data ko 10 sample ma divide kar dana
model = LogisticRegression(max_iter=500)
scoring = "neg_log_loss"
results = model_selection.cross_val_score(model, x, y, cv=kfold, scoring=scoring)
print(results.mean(),results.std())

-0.48445394731495056 0.06167618307998727

## Smaller log loss is better with 0 representing a perfect log loss

# 3.Area Under ROC Curve

**Example**

In [ ]:
# Corss Validation Classification Accuracy
import pandas as pd
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(url, names=names)
array = df.values
x  = array[:,0:8]
y = array[:,8]
kfold = model_selection.KFold(n_splits=10) #  n_split means data ko 10 sample ma divide kar dana
model = LogisticRegression(max_iter=500)
scoring = "roc_auc"
results = model_selection.cross_val_score(model, x, y, cv=kfold, scoring=scoring)
print(results.mean(),results.std())

0.8280277116334988 0.0426362426387057

# Confusion Metrix

**Exmaple**

In [ ]:
# Corss Validation Classification Accuracy
import pandas as pd
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.metrics  import confusion_matrix
from sklearn.linear_model import LogisticRegression

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(url, names=names)
array = df.values
x  = array[:,0:8]
y = array[:,8]
train_data,test_data,train_label,test_label = train_test_split(x, y, test_size=0.2, random_state=0)
model = LogisticRegression(max_iter=500,)
model.fit(train_data,train_label)
y_pred = model.predict(test_data)
cm = confusion_matrix(test_label,y_pred)
print(cm)

[[98  9]
 [18 29]]

# Classification Report

**Example**

In [ ]:
# Corss Validation Classification Accuracy
import pandas as pd
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.metrics  import classification_report
from sklearn.linear_model import LogisticRegression

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(url, names=names)
array = df.values
x  = array[:,0:8]
y = array[:,8]
train_data,test_data,train_label,test_label = train_test_split(x, y, test_size=0.2, random_state=0)
model = LogisticRegression(max_iter=500,)
model.fit(train_data,train_label)
y_pred = model.predict(test_data)
cr = classification_report(test_label,y_pred)
print(cr)

              precision    recall  f1-score   support

         0.0       0.84      0.92      0.88       107
         1.0       0.76      0.62      0.68        47

    accuracy                           0.82       154
   macro avg       0.80      0.77      0.78       154
weighted avg       0.82      0.82      0.82       154